<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meta - To Learn.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap CDN -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
  <body>
    <%= yield %>

    <div class="footer container-fluid">
      <div class="center-inner">
        <a href="https://www.linkedin.com/in/philborel"><img id="linkedin" src="imgs/linkedinicon.png" alt="LinkedIn"></a>

        <a href="https://github.com/pborel"><%= image_tag "github-1024-black.png", alt: "GitHub" %></a>
        <!-- <a href="https://github.com/pborel"><img id="github" src="/assets/images/github-1024-black.png" alt="GitHub"></a> -->

        <p>
          &copy; 2015 Meta. All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
